server:
  port: 8080

spring:
  application:
    name: gateway-service
  cloud:
    gateway:
      routes:
        - id: user-service
          uri: lb://user-service
          predicates:
            - Path=/api/users/**
        - id: annonce-service
          uri: http://localhost:8085
          predicates:
            - Path=/api/annonces/**,/api/categories/**,/api/admin/stats
        - id: user-admin-service
          uri: lb://user-service
          predicates:
            - Path=/api/admin/users/**
        - id: messagerie-service
          uri: http://localhost:8083
          predicates:
            - Path=/api/messages/**,/api/conversations/**

    discovery:
      enabled: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
